h1
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

h2
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

h3
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

h4
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

h5
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

h6
{
  color: red;
  font-family: Halvetic, Arial, Sans-serif;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
}

body
{
    background-color: #080808;
}

input.BUTTON
{
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #EA00F3;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
    -moz-box-shadow:: 6px 6px 5px #999;
    -webkit-box-shadow:: 6px 6px 5px #999;
    box-shadow:: 6px 6px 5px #999;
}

input.BUTTON:hover
{
    color: #ffff00;
    background: #000;
    border: 1px solid #fff;
}
