.topnav
{
  background-color: #1F1F1F;
  overflow: hidden;
}

.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
  background-color: #ddd;
  color: black;
}

.topnav a.active
{
  background-color: #EA00F3;
  color: white;
}
