<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Nidhu</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/topnav.css') }}" rel="stylesheet" type="text/css" />
</head>
<body background="{{url_for('static', filename='Assets/bg.jpg')}}">

<!--Top Navigation Bar-->
<div class="topnav">
<!--NOTE: Change http://127.0.0.1:5000/ to website page-->
  <a class="active" href="http://127.0.0.1:5000/">Home</a>
  <a href="#Changelogs">Changelogs</a>
  <a href="#Docs">Docs</a>
  <a href="http://127.0.0.1:5000/download">Downloads</a>
</div>

  <center><h1>Hello, World!</h1><center>
	<h2>Welcome to Nidhu Linux</h2>
<!--GitLab-->
	<form>
	  <input type="button" value="Visit our GitLab" class="BUTTON" onclick="window.location.href='https://gitlab.com/Nidhu'">
	</form>
<br>
<!--Downloads-->
	<form>
	  <!--NOTE: Change http://127.0.0.1:5000/donwload to website page-->
	  <input type="button" value="Downloads" class="BUTTON" onclick="window.location.href='http://127.0.0.1:5000/download'">
	</form>
	<center><img src="{{url_for('static', filename='Assets/Tux.svg')}}"/></center>
    <script src="script.js"></script>
  </body>
</html>
