<html>

<head>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" typ="text/css"/>
  <link href="{{url_for('static', filename='css/topnav.css')}}" rel="stylesheet" typ="text/css"/>
  <title>
    Nidhu
  </title>
</head>

<body background="{{url_for('static', filename='Assets/bg.jpg')}}">

<!--From root/index.html:
    Top Navigation Bar-->
<div class="topnav">
<!--NOTE: Change http://127.0.0.1:5000/ to website page-->
  <a class="active" href="http://127.0.0.1:5000/">Home</a>
  <a href="#Changelogs">Changelogs</a>
  <a href="#Docs">Docs</a>
  <a href="http://127.0.0.1:5000/download">Downloads</a>
</div>
  <h1>
    Download Nidhu Linux
  </h1>

  <h3>
    Download
  </h3>
  <form>
    <center>
      <input type="button" class="BUTTON" value="Linux 64 Bit" onclick="window.location.href='https://gitlab.com/Nidhu/nidhu-linux/-/releases'" />
    </center>
  </form>
</body>

</html>
